<table>
	<th colspan="2">Estadísticas:</th>
	<tr>
		<td> Numero de preguntas </td>
		<td><%= quizes.length %></td>
	</tr>
	<tr>
		<td> Numero de comentarios totales </td>
		<td><%= comments %></td>
	</tr>
	<tr>
		<td> Numero medio de comentarios por pregunta </td>
		<td><%= avg %></td>
	</tr>
	<tr>
		<td> Numero de preguntas con comentarios </td>
		<td><%= q_with %></td>
	</tr>
	<tr>
		<td> Numero de preguntas sin comentarios </td>
		<td><%= q_without %></td>
	</tr>
</table>